:root{
    --color-first: #fff;
    --color-second: #000;
    --color-third: #999;
    --color-fourth: #B5A7A1;
}

.navbar{
    background-color: black;
    margin: 0 auto;
    padding: 10px;
    position: fixed;
    width: 100%;
}

a{
    color: var(--color-second);
    text-decoration: none;
    transition: 0.3s;
    color: var(--color-first);
    margin-top: 10px;
}

a:hover{
    opacity: 0.7;
}

.logo{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
    align-items: center;
    margin-top: 5px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
}


.nav-list{
    list-style: none;
    display: flex;
    margin-top: 8px;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

h1{
    font-family: "Poppins",sans-serif;
    text-align: center;
}

.row{
    padding: 20px;
    display: table;
    width: 100%;
}
.row label{
    font-family: "Poppins", sans-serif;
    color: var(--color-first);
    margin-left: 20px
}

form{
    width: 50%;
    margin: 0 auto;
    background-color: var(--color-second);
    border-radius: 50px;
    margin-top: 100px;
    margin-bottom: 40px;
    padding-right: 60px;
    padding-top: 60px;
    padding-bottom: 30px;
    box-shadow: 10px 10px 10px var(--color-third);
}

input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    margin-left: 20px;
    font: 1em sans-serif;
    border: 1px solid var(--color-third);
    border-radius: 10px;
}

label{
    font-weight: bold;
    padding-bottom: 5px;
    display: inline-block;
}

button{

    background-color: var(--color-first);
    border: 1px solid var(--color-second);
    margin-left: 20px;
    margin-bottom: 4px;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;

}

button:hover{
    background-color: var(--color-third);
    color: var(--color-first);

}

.container-rodape{
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: var(--color-second);
    border-radius: 25px;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 150px;
    margin-left: 150px;
    line-height: 25px;

}